option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite.wsgi:application
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: "www/static/"

container_commands:
  01_collectstatic:
    command: "django-admin.py collectstatic --noinput"
    leader_only: true
  02_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true

packages:
  yum:
    git: []
    postgresql93-devel: []

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_custom_django_collectstatic.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      . /opt/elasticbeanstalk/env.vars
      function error_exit
      {
        eventHelper.py --msg "$1" --severity ERROR
        exit $2
      }
      # Collect static files
      echo "Collecting static files"
      django-admin.py collectstatic --noinput || error_exit "Failed to run collectstatic" $?
